body{
    h1{
        font-size: 36px;
    }
    p{
        font-size: 25px;
    }
    div{
        background-color: white;
        padding-left: 25%;
        padding-right: 25%;
        width: 50%;
    }
    iframe{
        width:100%;
        height: 45%;
        border-radius: 16px;
    }
    .middlelabel{
        text-align: center;
        font-weight: lighter;
        align-items: center;
    }
    header{
        text-align: left;
        color: black;
        width: 50%;
        margin-top: 0px;
        margin-left: 0px;
        margin: 5px 25%;
        padding: 0px;
        box-sizing: border-box;
        align-self: left;
    }
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0px;
}
