body{
    h1{
        font-size: 36px;
    }
    p{
        font-size: 25px;
    }
    div{
        background-color: white;
        padding-left: 25%;
        padding-right: 25%;
        width: 50%;
        min-height: 100%;
    }
    iframe{
        width:100%;
        height: 45%;
        border-radius: 16px;
    }
    .middlelabel{
        text-align: center;
        font-weight: lighter;
        align-items: center;
    }
    header{
        text-align: left;
        color: black;
        width: 50%;
        margin-left: 0px;
        margin: 25px 25%;
        padding: 0px;
        box-sizing: border-box;
        align-self: left;
    }
    footer{
        align-items: center;
        align-self: center;
        width: 50%;
        padding: 0px 25%;
        text-align: center;
        background-color: grey;
    }
    a{
        color: white;
    }
    a:hover{
        color: chartreuse;
        cursor: progress;
    }
    background-color: cadetblue;
    font-family: sans-serif;
    color: black;
    padding: 0px;
    margin: 0px;
}
