html{scroll-behavior: smooth;}
body {

    background-color: #673165;
    font-family: sans-serif;
    color: black;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 2rem;
}

.headertext {
    color: white;
}

p {
    font-size: 20px;
}

ul {
    display: flex;
    justify-self: center;
}

li {
    padding: 8px 8px 0 0;
}

li::marker{
    color: white;
}

.main-content {
    background-color: whitesmoke;
    padding: 50px 25%;
    width: 50%;
    min-height: 90%;
    cursor: default;
    border-radius: 32px 32px 0 0;
    overflow: auto;
    position: relative;
}
header {
    text-align: left;
    color: rgb(255, 255, 255);
    width: 50%;
    margin-left: 0px;
    margin: 10px 25%;
    padding: 0px;
    box-sizing: border-box;
    align-self: left;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexdiv {
    display: inline-block;
}


iframe {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    border-width: 0px;
    justify-self: center;
}

.middlelabel {
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.nav {
    align-self: right;
    text-align: right;
    float: right;
    margin: 0px;
    overflow: hide;
}

.navlinks {
    float: right;
}



footer {
    position: absolute;
    align-items: center;
    align-self: center;
    width: 95%;
    padding: 1px 2.5%;
    text-align: center;
    background-color: #3d1f3c;
    clear: both;
}

a, button {
    color: white;
    padding: 0px 10px;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    font-style: normal;
    text-decoration: none;
    position: relative;
    z-index: 99;
}

a:hover, button:hover {
    color: black;
    cursor: pointer;
    transform: scaleX(1.1);
    text-shadow: black 0 0 16px;
    font-weight: 200;
    z-index: 99;
}

a:active, button:active {
    color: blue;
    transform: scaleX(1.2) scaleY(1.05);
    z-index: 99;
}

#centeralign {
    display: flex;
    justify-content: center;
}






.full-width-img {
    width: 100%;
    height: auto;
    z-index: 100;
}

.tinytext {
    color: blue;
    font-size: 16px;
}




.fleximg {
    width: 400px;
    height: 300px;
    object-fit: cover;
    justify-self: center;
}
.realcont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    width: 120%;
    margin: 0;
    justify-self: center;
}
.imgblockcontent {
    display: block;
    width: fit-content;
    margin: 0;
    width: 400px;
    height: 300px
}


.imgright {
    width: 50%;
    height: fit-content;
    z-index: 100;
    float: right;
    shape-outside: inset();
    display: block;
}

.imgleft {
    width: 50%;
    height: fit-content;
    z-index: 100;
    float: left;
    shape-outside: inset(-20px -20px -20px -20px);
    display: block;
}

.floating-corner-btn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #673165;
    font-size: 40px;
    margin-top: 0;
}





@media (max-width: 768px) {
    .main-content{
        padding: 0px 12.5%;
        width: 75%;
    }
    p {
        font-size: 32px;
    }
    header {
        width: 75%;
        margin: 10px 12.5%;
        display: block;
    }
    .fleximg {
        width: 100%;
        height: 80%;
        object-fit: cover;
        justify-self: center;
        margin: 0;
    }

    a{
        font-size: 24px;
    }
    
    .imgleft, .imgright {
        width: 100%;
        height: fit-content;
        z-index: 100;
    }

    .navlinks {
        float: none;
        text-align: right;
        display: block;
    }

    .nav {
        align-self: left;
        text-align: left;
        float: left;
        margin: 0px;
        overflow: hide;
        flex-wrap: wrap;
        padding: 8px;
    }
    
}
