body{
    h1{
        font-size: 72px;
    }
    p{
        font-size: 25px;
    }
    div{
        border: 6px antiquewhite;
    }
    iframe{
        width:100%;
        height: 100%;
        border-radius: 8px;
    }
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}
