body {

    background-color: cadetblue;
    font-family: sans-serif;
    color: black;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 25px;
}

.main-content {
    background-color: white;
    padding: 0px 25%;
    width: 50%;
    min-height: 90%;
    cursor: default;
}

iframe {
    width: 100%;
    height: 45%;
    border-radius: 16px;
}

.middlelabel {
    text-align: center;
    font-weight: lighter;
    align-items: center;
}

.nav {
    align-self: right;
    text-align: right;
    float: right;
    margin: 0px
}

.navlinks {
    float: right;
}

header {
    text-align: left;
    color: black;
    width: 50%;
    margin-left: 0px;
    margin: 10px 25%;
    padding: 0px;
    box-sizing: border-box;
    align-self: left;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    align-items: center;
    align-self: center;
    width: 50%;
    padding: 10px 25%;
    text-align: center;
    background-color: grey;
}

a {
    color: white;
    padding: 0px 10px;
}

a:hover {
    color: chartreuse;
    cursor: pointer;
}

.full-width-img {
    width: 50%;
    height: auto;
    z-index: 100;
}