body{
    h1{
        font-size: 36px;
    }
    p{
        font-size: 25px;
    }
    div{
        border: 6px antiquewhite;
    }
    iframe{
        width:100%;
        height: 45%;
        border-radius: 16px;
    }
    .middlelabel{
        text-align: center;
        font-weight: lighter;
        align-items: center;
    }
    header{
        text-align: left;
        background-color: cadetblue;
        color: black;
        width: 200%;
        margin-top: 0px;
        margin-left: 0px;
        margin: 0%;
        padding: 10px;
        box-sizing: border-box;
        align-self: center;
    }
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}
