body{
    h1{
        font-size: 72px;
    }
    p{
        font-size: 25px;
    }
    div{
        border: 6px antiquewhite;
    }
    iframe{
        width:100%;
        height: 45%;
        border-radius: 16px;
    }
    .middlelabel{
        text-align: center;
        font-weight: lighter;
    }
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}
